.first
    min-height: 660px
    background: url('../img/main.png') center (center/cover) no-repeat
    background-attachment: fixed
    padding-top: 150px
    .dropdown
        width: 300px
        margin-left: 300px
    .dropdown-menu
        width: 300px
    .dropdown:hover>.dropdown-menu
        display: block
    h1
        color: #ffffff
        font-size: 58px
        font-weight: 700
        margin-left: 150px
    &__btn
        height: 50px
        width: 300px
        background: #F1F1F1
        margin-top: 50px
        border: none